span.ext {
  background: url('/sites/all/modules/schoology_core/s_extlink/s_extlink.png?6a6922e60f127556') right center no-repeat;
  padding-inline-end: 12px;
  zoom: 1;
}
span.mailto {
  background: url('/sites/all/modules/schoology_core/s_extlink/mailto.png?6a6922e60f127556') right center no-repeat;
  padding-inline-end: 12px;
  zoom: 1;
  margin-inline-start: 4px;
}
