#storage-bar-container{ border: 1px solid #444; background: url('/sites/all/themes/schoology_theme/images/gray-btn-bg.gif?6a6922e60f127556') repeat-x 0 0; width: 700px; }
#storage-bar{ background: -moz-linear-gradient(center top , #999999, #666666) repeat scroll 0 0; background-color: #666; height: 20px; }
.top-user-details{ display: none; }
.storage-admin-header{ margin-bottom: 15px; font-weight: bold; }
.storage-admin-description{ margin-bottom: 20px; }
.current-use-label { display: block; padding: 10px 0; }
.storage-detail-amount { color: #9a9fa8; margin-inline-start: 5px; }
.storage-detail-row { margin: 3px 15px; }
#content-wrapper { padding: 10px; }

/* Recycle Bin */
.header-bin { margin-bottom: 10px; }
.empty-bin { color: #9A9FA8; text-align: center; padding: 25px; }
#recycle-bin { width: 780px; }
#recycle-bin th { text-align: start; }
#recycle-bin th.active img { margin-inline-start: 4px; }
#recycle-bin td.item-icon, #recycle-bin td.item-detail, #recycle-bin td.actions, #recycle-bin .s-recycle-bin-more-link td, #recycle-bin .bin-item-deleted td { padding: 10px 0; border-top: 1px solid #EAEAEA; padding-inline-end: 10px; }
#recycle-bin td.item-icon { width: 23px; }
#recycle-bin td.item-detail .bin-item-title { margin-inline-end: 5px; }
#recycle-bin td.actions { width: 40px; padding: 0; }
#recycle-bin td.bin-deleted-item { width: 45%; }
.s-recycle-bin-action-links .action-links-unfold { position: absolute; inset-inline-start: -10000px; }
tr:hover .s-recycle-bin-action-links .action-links-unfold, tr:focus .s-recycle-bin-action-links .action-links-unfold, .s-recycle-bin-action-links .action-links-unfold:focus, .s-recycle-bin-action-links .action-links-unfold.active { position: static; inset-inline-start: 0; }
.s-recycle-bin-action-links .action-links-wrapper { position: relative; width: 36px; height: 20px; }
.s-recycle-bin-action-links .action-links-wrapper .action-links { inset-inline-end: 0; white-space: nowrap; }
.s-recycle-bin-more-link .more-btn { font-weight: normal; display: inline; padding-inline-start: 23px; background-position: 4px 50%; }

/* Restore Popup */
.s-storage-restore-to-form { padding-top: 10px; }
.s-storage-restore-to-form .form-item { padding-inline-start: 100px; margin-bottom: 10px; }
.s-storage-restore-to-form .form-item label { /* rtl-processor:ignore */ float: left; width: 90px; margin: 5px 10px 0; margin-inline-start: -100px; }
[dir="rtl"] .s-storage-restore-to-form .form-item label{ float: right; }
.s-storage-restore-to-form .form-item .form-select { max-width: 328px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; }
.item-detail.bin-deleted-user a { display: inline-block; vertical-align: middle; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 200px;}