:root {
    --sgy-icon-assessment: url(/sites/all/themes/schoology_theme/images/modern_icons/assessment.svg);
    --sgy-icon-assessment-rtl: url(/sites/all/themes/schoology_theme/images/modern_icons/assessment-rtl.svg);
}

[dir="rtl"] {
    --sgy-icon-assessment: var(--sgy-icon-assessment-rtl);
}

/* ASSESSMENT / MANAGED (AMP) ASSESSMENT icon */
[data-theme="modern"] .common-assessment-icon,
[data-theme="modern"] .inline-icon.grade-item-icon.common-assessment-icon,
[data-theme="modern"] .inline-icon.mini.common-assessment-icon,
[data-theme="modern"] .recently-completed-event .mini-icon.common-assessment-icon,
[data-theme="modern"] .upcoming-event .mini-icon.common-assessment-icon,
[data-theme="modern"] #folder-contents-table .item-icon.common-assessment-icon,
[data-theme="modern"] #folder-contents-table .course-materials-simple .item-icon.common-assessment-icon,
[data-theme="modern"] #folder-contents-table .planner-right-cell .item-icon.common-assessment-icon,
[data-theme="modern"] #s-course-materials-folder-completion-form .item-icon.common-assessment-icon,
[data-theme="modern"] #s-grade-item-manager .item-icon.item-common-assessment {
    background-image: var(--sgy-icon-assessment);
    background-position-y: center;
}

[data-theme="modern"] .course-content-action-links .action-links .action-create-assessment-v2 a,
[data-theme="modern"] #course-materials-action-links-inline .action-create-assessment-v2 a,
[data-theme="modern"] #toolbar-add-list #collection-add-assessment-v2 a,
[data-theme="modern"] #toolbar-add-list #collection-add-common-assessment a {
    background-image: var(--sgy-icon-assessment);
    background-position-x: 12px;
    background-position-y: center;
    background-size: 16px;
}
[dir="rtl"][data-theme="modern"] .course-content-action-links .action-links .action-create-assessment-v2 a,
[dir="rtl"][data-theme="modern"] #course-materials-action-links-inline .action-create-assessment-v2 a,
[dir="rtl"][data-theme="modern"] #toolbar-add-list #collection-add-assessment-v2 a,
[dir="rtl"][data-theme="modern"] #toolbar-add-list #collection-add-common-assessment a {
    background-position-x: calc(100% - 12px);
}

[data-theme="modern"] .materials-filter-wrapper .action-links .action-view-common-assessments a,
[data-theme="modern"] .materials-filter-wrapper .action-links .action-view-course-assessment a {
    background-image: var(--sgy-icon-assessment);
    background-position-x: 24px;
    background-position-y: center;
    background-size: 16px;
}
[dir="rtl"][data-theme="modern"] .materials-filter-wrapper .action-links .action-view-common-assessments a,
[dir="rtl"][data-theme="modern"] .materials-filter-wrapper .action-links .action-view-course-assessment a {
    background-position-x: calc(100% - 24px);
}

.modal:has(.learning-objective-selector__modal) {
    z-index: 1999;
}
