:root {
    --sgy-icon-common-assessment: url(/sites/all/themes/schoology_theme/images/modern_icons/common-assessment.svg);
    --sgy-icon-common-assessment-rtl: url(/sites/all/themes/schoology_theme/images/modern_icons/common-assessment-rtl.svg);
}

[dir="rtl"] {
    --sgy-icon-common-assessment: var(--sgy-icon-common-assessment-rtl);
}

[data-theme="modern"] .course-content-action-links .action-links .action-create-pm-assessment a,
[data-theme="modern"] #course-materials-action-links-inline .action-create-pm-assessment a {
    background-image: var(--sgy-icon-common-assessment);
    background-position-x: 12px;
    background-position-y: center;
    background-size: 16px;
}
[dir="rtl"][data-theme="modern"] .course-content-action-links .action-links .action-create-pm-assessment a,
[dir="rtl"][data-theme="modern"] #course-materials-action-links-inline .action-create-pm-assessment a {
    background-position-x: calc(100% - 12px);
}
