:root {
    --sgy-icon-external-resource: url(/sites/all/themes/schoology_theme/images/modern_icons/external-resource.svg);
}

[data-theme="modern"] .course-content-action-links .action-links .action-create-document a,
[data-theme="modern"] #course-materials-action-links-inline .action-create-document a {
    background-image: var(--sgy-icon-external-resource);
    background-position-x: 12px;
    background-position-y: center;
    background-size: 16px;
}
[dir="rtl"][data-theme="modern"] .course-content-action-links .action-links .action-create-document a,
[dir="rtl"][data-theme="modern"] #course-materials-action-links-inline .action-create-document a {
    background-position-x: calc(100% - 12px);
}
