:root {
    --sgy-icon-link: url(/sites/all/themes/schoology_theme/images/modern_icons/link.svg);
}

/* LINK icon */
[data-theme="modern"] .link-icon,
[data-theme="modern"] .inline-icon.link-icon,
[data-theme="modern"] .popups-add-document .action-create-link span,
[data-theme="modern"] #folder-contents-table .course-materials-simple .inline-icon.link-icon,
[data-theme="modern"] #folder-contents-table .planner-right-cell .inline-icon.link-icon,
[data-theme="modern"] #resource-types .link-icon,
[data-theme="modern"] #s-course-materials-folder-completion-form .inline-icon.link-icon {
    background-image: var(--sgy-icon-link);
    background-position-y: center;
}

[data-theme="modern"] #toolbar-add-list #collection-add-link a {
    background-image: var(--sgy-icon-link);
    background-position-x: 12px;
    background-position-y: center;
    background-size: 16px;
}
[dir="rtl"][data-theme="modern"] #toolbar-add-list #collection-add-link a {
    background-position-x: calc(100% - 12px);
}

[data-theme="modern"] .materials-filter-wrapper .action-links .action-view-documents-links a {
    background-image: var(--sgy-icon-link);
    background-position-x: 24px;
    background-position-y: center;
    background-size: 16px;
}
[dir="rtl"][data-theme="modern"] .materials-filter-wrapper .action-links .action-view-documents-links a {
    background-position-x: calc(100% - 24px);
}
